$primary: #ea6230;
$secondary: #fbc026;

@mixin buttonColor {
    @apply text-white;
    background-image: linear-gradient(to right, #420687 , #fc9f0b);

    &:hover {
        background-image: linear-gradient(to left, #420687 , #fc9f0b)

    }
}