$primary: #ea6230;
$secondary: #fbc026;

@mixin buttonColor {
    @apply text-white;
    background-image: linear-gradient(to right, #5174a6 , #233247);

    &:hover {
        background-image: linear-gradient(to left, #5174a6 , #233247);
    }
}
