$primary: #ea6230;
$secondary: #fbc026;

@mixin buttonColor {
    @apply text-white;
    background: linear-gradient(to right, $secondary, $primary);

    &:hover {
        background: linear-gradient(to right, $primary, $secondary);
    }
}
