@tailwind base;
@tailwind components;
@tailwind utilities;

body {
     @apply bg-mp-peach-1;
}

.dropdown{
     @apply p-2 mx-auto rounded-md border w-full text-mp-dark-1 flex text-sm font-semibold cursor-pointer select-none
}
.dropdown-content{
     @apply border mt-1 p-2 rounded bg-white z-10
}
.dropdown-item {
     @apply font-light my-2 px-2 hover:bg-mp-gray-2 cursor-pointer select-none
}
button{
     @apply outline-none
}
.chip{
     @apply flex px-3 py-1 border-2 rounded-full my-2 mx-1 cursor-pointer font-light
}
.timer{
     @apply absolute text-white rounded-md px-2 py-1 -top-3 left-5;
     background: rgba(15, 15, 28, 0.7);
     backdrop-filter: blur(4px);
}
.artist {
     @apply flex mb-2 py-2 justify-between font-semibold text-mp-gray-4 hover:text-mp-gray-7 cursor-pointer
}
.action-btn{
     background: linear-gradient(84.5deg, #FFD12F 0%, #FFB038 100%);
     @apply py-2 px-4 rounded-full font-semibold
}