@tailwind base;
@tailwind components;
@tailwind utilities;

.screenTest{
     @apply xl:bg-yellow-300 lg:bg-green-300 md:bg-purple-300 sm:bg-red-800 xs:bg-pink-300
}
.btnColor{
     background: radial-gradient(62.1% 62.79% at 32.81% 20%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) , linear-gradient(84.42deg, #FFD12F 0%, #FFB038 100%);
}

.glass-morphism{
     background: rgba(99, 96, 96, 0.2);
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
}
.nft_height{
     height: fit-content;
}

body {
     @apply bg-mp-peach-1 outline-none
}

.dropdown{
     @apply p-2 mx-auto rounded-md border w-full text-mp-dark-1 flex text-sm font-semibold cursor-pointer select-none
}
.dropdown-content{
     @apply border mt-1 p-2 rounded bg-white z-10 absolute
}
.dropdown-item {
     @apply font-light my-2 px-2 hover:bg-mp-gray-2 cursor-pointer select-none md:w-full
}
button{
     @apply outline-none
}
.chip{
     @apply flex px-3 py-1 border-2 rounded-full my-2 mx-1 cursor-pointer font-light
}
.timer{
     @apply absolute text-white rounded-md px-2 py-1 -top-3 left-5;
     background: rgba(15, 15, 28, 0.7);
     backdrop-filter: blur(4px);
}
.artist {
     @apply flex py-2 justify-between font-semibold text-mp-gray-5 hover:text-mp-gray-7 cursor-pointer
}
.action-btn{
     background: radial-gradient(62.1% 62.79% at 32.81% 20%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) , linear-gradient(84.42deg, #FFD12F 0%, #FFB038 100%);
     @apply px-5 pt-3  rounded-full font-semibold -ml-2
}

.slick-arrow.slick-next{
     @apply rounded-full bg-yellow-500 p-3  -right-10 opacity-0 md:opacity-100
}
.slick-arrow.slick-prev {
     width: 20px;
     height: 20px;
     @apply rounded-full bg-yellow-500 p-3  -left-10 opacity-0 md:opacity-100
}
.slide{
     transform: scale(.7);
     transition: .5s;
     filter: blur(5px);
}
.slide.active{
     filter: blur(0);
     opacity: 1;
     transform: scale(1.1);
}
/* .arrow{
     @apply rounded-full bg-yellow-500 p-4 absolute top-[200px] 
}
.arrow-right{
     @apply right-[0px]
}
.arrow-left{
     @apply left-[0px]
} */
